body{
    background-color: #191919;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.container button{
    padding: 35px;
    background-color: #191919;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.container img{
    height: 50px;
    width: 50px;
}

.reset{
    padding: 10px 15px;
    width: fit-content;
    background-color: white;
    font-size: 15px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.score{
    font-size: 20px;
    margin-top: 50px;
}
